{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
    <div class="fill">
        <div class="block">
            <h2 class="d-flex pb-30 justify-content-center">Se connecter</h2>
            <form action="{{ path('connexion') }}" method="post">
                <div class="form-row">
                    <label for="email">Adresse email :</label>
                    <input class="mb-20" type="email" id="email" name="_username" value="{{ last_username }}" placeholder="Votre adresse e-mail" required autofocus>
                </div>
                <div class="form-row">
                    <label for="password">Mot de passe :</label>
                    <input class="mb-20" type="password" id="password" name="_password" placeholder="Votre mot de passe" required>
                </div>
                <div class="d-flex form-row flex-row-nowrap">
                    <input class="form-check-input mr-10" type="checkbox" id="_remember_me" name="_remember_me">
                    <label class="form-check-label" for="_remember_me">
                        Se souvenir de moi
                    </label>
                </div>    
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                <button aria-label="Connexion" type="submit" class="d-flex btn btn-primary-dark justify-content-center margin-auto">Connexion</button>
                <small class="d-flex justify-content-center mt-10"><a href="{{ path('app_register') }}">Vous n'avez pas encore de compte ?</a></small> 
                <small class="d-flex justify-content-center mt-10">
                    <a href="{{ path('reset-password-request') }}">Mot de passe oublié ?</a>
                </small>   
            </form>
            {% if error %}
                <div class="alert alert-danger mt-20" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}