<div class="d-flex flex-row-nowrap fil-ariane">
    <small class="ml-20 mt-10">
        <a href="{{ path('app_home') }}">Accueil</a>

        {# Page Classe #}
        {% if app.request.attributes.get('_route') == 'app_show_classe' and classe is defined %}
            /
            <a href="{{ path('app_show_classe', {'nom': classe.nom}) }}">
                {{ classe.nom }}
            </a>
        {% endif %}

        {# Page Espèce #}
        {% if app.request.attributes.get('_route') == 'app_show_espece' and classe is defined and espece is defined %}
            /
            <a href="{{ path('app_show_classe', {'nom': classe.nom}) }}">
                {{ classe.nom }}
            </a>
            /
            <a href="{{ path('app_show_espece', {'nom': classe.nom, 'nom_espece': espece.nomEspece}) }}">
                {{ espece.nomEspece }}
            </a>
        {% endif %}
    </small>
</div>
