{% extends 'base.html.twig' %}

{% block title %}Hello EspeceController!{% endblock %}

{% block body %}
<div id="wrapper-details">
    <h1> {{ espece.nomEspece }}</h1>
        <div class="espece-image-details">
            <img src="{{espece.image}}" alt="{{espece.nomEspece}}" >
        </div>
        <div class="espece-infos">
                 <p class="espece-description">{{ espece.description }}</p>
            <p> <strong>Poids moyen : </strong>{{ espece.poidsMoy}} kg</p>
            <p> <strong>Taille moyenne :</strong> {{ espece.tailleMoy }} m</p>
            <p> <strong>Habitat :</strong> {{ espece.habitat }}</p>
            <p> <strong>Régime alimentaire :</strong> {{ espece.alimentation }}</p>
            <p> <strong>Durée de vie moyenne :</strong> {{ espece.esperanceVie }} ans</p>
            <p> <strong>Durée de gestation :</strong> {{ espece.gestation }} jours</p>
        </div>
</div>

{% endblock %}
