{% extends 'base.html.twig' %}

{% block title %}Détails - {{ espece.nomEspece }}{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">{{ espece.nomEspece }}</h1>
    <div class="separator"></div>
    <div id="wrapper-details">

        <div class="espece-image-details">
            <img src="{{espece.image}}" alt="{{espece.nomEspece}}" >
        </div>
        <div class="espece-infos">
                 <p class="espece-description">{{ espece.description }}</p>
            <p> <strong>Poids moyen : </strong>{{ espece.poidsMoy}} kg</p>
            <p> <strong>Taille moyenne :</strong> {{ espece.tailleMoy }} m</p>
            <p> <strong>Habitat :</strong> {{ espece.habitat }}</p>
            <p> <strong>Régime alimentaire :</strong> {{ espece.alimentation }}</p>
            <p> <strong>Durée de vie moyenne :</strong> {{ espece.esperanceVie }} ans</p>
            <p> <strong>Durée de gestation :</strong> {{ espece.gestation }} jours</p>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex flex-row justify-content-center">
            <a href="{{ path('delete_espece', {'id':espece.id})}}">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
        {% endif %}
        <div class="separator"></div>
        <div class="d-flex flex-row justify-content-center mt-20">
            <a href="{{ path('app_forum_show', {'nom_espece': espece.nomEspece}) }}" class="btn btn-primary-dark">
                Voir les questions posées sur l'espèce : {{ espece.nomEspece }}
            </a>
        </div>
        <div class="separator"></div>
        </div>

       {% if app.user %}
        {% if not app.user.banned %}
            {# Affiche le formulaire #}
            <div class="fill" id="form-question">
                <div class="block">
                    <h2 class="d-flex pb-30 justify-content-center">Poser une question</h2>
                    {{ form_start(formQuestion) }}
                        <div class="form-row">
                            {{ form_label(formQuestion.titreQuestion) }}
                            {{ form_widget(formQuestion.titreQuestion, {'attr': {'class': 'mb-20'}}) }}
                            {{ form_errors(formQuestion.titreQuestion) }}
                        </div>
                        <div class="form-row">
                            {{ form_label(formQuestion.description) }}
                            {{ form_widget(formQuestion.description, {'attr': {'class': 'mb-20'}}) }}
                            {{ form_errors(formQuestion.description) }}
                        </div>     
                        <button class="d-flex btn btn-primary-stroke justify-content-center margin-auto" type="submit">Envoyer</button> 
                    {{ form_end(formQuestion) }}
                </div>
            </div>
        {% endif %}
    {% else %}
        {# Utilisateur non connecté, message pour se connecter #}
        <div class="block">
        <h2 class="d-flex pb-30 justify-content-center">Ajouter une question</h2>
            <p class="d-flex justify-content-center gray-dark">Vous devez être connecté pour poser une question !<small class="d-flex align-items-end ml-10"><a href="{{ path('connexion') }}">Se connecter</a></small></p>
        </div>
    {% endif %}

        
    </div>

{% endblock %}
