{% extends 'base.html.twig' %}

{% block title %}Espèces de la classe {{ classe.nom }}{% endblock %}

{% block body %}
<div>
    <h1 class="d-flex justify-content-center pb-30">
        Espèces de {{ classe.nom }}
    </h1>
    <div class="d-flex flex-row-nowrap m-10 align-items-center justify-content-center">
        {% for espece in especes %}
                <a href="{{ path('app_show_espece', {'nom':classe.nom,'nom_espece':espece.nomEspece})}}" class="detail-classe-espece p-20">
                    <div class="espece-column">
                        <img src="{{ espece.image }}" alt="image-{{ espece.nomEspece }}">
                        <small>
                            <a href="{{ path('app_show_espece', {'nom':classe.nom,'nom_espece':espece.nomEspece})}}" class="detail-classe-espece">{{ espece.nomEspece }}</a>
                        </small>
                    </div>
                </a>
        {% else %}
            <p>Aucune espèce pour cette classe.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}