{% extends 'base.html.twig' %}

{% block title %}Accueil - Bestio{% endblock %}

{% block body %}
<div>
    {% for categorie, classes in classesParCategorie %}
        <h1>{{ categorie }}</h1>
        <div class="d-flex flex-row-nowrap justify-content-space-around align-items-center">
            {% for classe in classes %}
                    <div class="d-flex justify-content-center classe-card">
                        <a href="{{ path('app_show_classe', {'nom': classe.nom }) }}">
                            <div class="espece-image">
                                <img src="{{ classe.image }}" alt="image-{{ classe.nom }}">
                            </div>
                        <span class="d-flex btn-card mt-5 justify-content-center">{{ classe.nom }}</span>
                        </a>
                    </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
