{% extends 'base.html.twig' %}

{% block title %}Hello EspeceController!{% endblock %}

{% block body %}
<div id="wrapper-espece">
    <div class="especes">
        {% for espece in especes %}
            <div class="espece">
                <a href="{{ path('detail_espece', {'id': espece.id }) }}">
                <div class="espece-image">
                    <img src="{{ espece.image }}" alt="{{ espece.nomEspece }}">
                    <div class="btn-detail">
                        <a href="{{ path('detail_espece', {'id': espece.id }) }}">Détails</a>
                    </div>
                </div>
                <h2>{{ espece.nomEspece }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
