{% extends 'base.html.twig' %}
{% block title %}Modifier la classe{% endblock %}

{% block body %}
<h1>Modifier la classe : {{ classe.nom }}</h1>

{{ form_start(formClasse) }}
    {{ form_row(formClasse.nom) }}
    {{ form_row(formClasse.specificite) }}

    {% if formClasse.image is defined %}
        {{ form_row(formClasse.image) }}
        {% if classe.image %}
            <p>Image actuelle :</p>
            <img src="{{ classe.image }}" alt="{{ classe.nom }}" style="max-width:200px;">
        {% endif %}
    {% endif %}

    {{ form_row(formClasse.newImages) }}
    {{ form_row(formClasse.appartenir) }}

    <button class="btn btn-primary-stroke mt-20">Enregistrer</button>
{{ form_end(formClasse) }}
{% endblock %}