{% extends 'base.html.twig' %}

{% block title %}Liste des classes{% endblock %}

{% block body %}

<div class="classe-header">
    <h1 class="d-flex justify-content-center">Liste des classes</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="btn-filter-classes">
            <button class="btn btn-primary">Rechercher</button>
            <button class ="reset-classe">
                <a href="{{ path('app_classe')}}">
                    Réinitialiser
                </a>
            </button>
        </div>
    {{ form_end(form) }}
</div>

        
    <div class="separator"></div>
    {% for categorie, classes in classesParCategorie %}
        <h2 class="d-flex justify-content-center underline pb-10">        
            <a href="{{ path('app_categorie_show', {'categorie': categorie}) }}" class="underline" style="color:var(--gray-dark)">{{ categorie }}</a>
        </h2>
        <div class="d-flex flex-row-wrap justify-content-center gap-40">
            {% for classe in classes %}
            <a href="{{ path('app_show_classe', {'nom': classe.nom}) }}" class="detail-classe-espece p-20">
                <div class="espece-column">
                    <img src="{{ classe.image }}" alt="image-{{ classe.nom }}">
                    <small>
                        <a href="{{ path('app_show_classe', {'nom': classe.nom}) }}" class="detail-classe-espece">{{ classe.nom }}</a>
                    </small>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="separator"></div>
    {% endfor %}
</div>
{% endblock %}
