{% extends 'base.html.twig' %}

{% block title %}{{ classe.nom }}{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center">{{ classe.nom }}</h1>
<div class="separator"></div>
<div id="wrapper-detail-classe">
    <div class="detail-classe-img">
        <img src="{{ classe.image }}" alt="image-{{ classe.nom }}">
    </div>
    <div class="detail-classe-description">
        <p> <strong>Appartient à la catégorisation :</strong> {{ classe.appartenir.nomCategorisation }}</p>
        <p> <strong>Description :</strong>  {{ classe.specificite }}</p>
    </div>
</div>
<h2 class="d-flex justify-content-center p-20">Espèces associées</h2>
<div class="detail-classe-espece d-flex flex-row justify-content-center">
    {% for espece in classe.dependre|slice(0, 3) %}
        <a href="{{ path('app_show_espece', {'nom':classe.nom,'nom_espece':espece.nomEspece})}}" class="detail-classe-espece p-20">
            <div class="espece-column">
                <img src="{{ espece.image }}" alt="image-{{ espece.nomEspece }}">
                <small>
                    <a href="{{ path('app_show_espece', {'nom':classe.nom,'nom_espece':espece.nomEspece})}}" class="detail-classe-espece">{{ espece.nomEspece }}</a>
                </small>
            </div>
        </a>
    {% else %}
        <p>Aucune espèce pour cette catégorie.</p>
    {% endfor %}
</div>
{% endblock %}