{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="admin-wrapper">
     <div class="search-user">
        {{ form_start(form) }}
            <div class="search-name">
                {{ form_row(form.pseudo) }}
            </div>

            <div class="buttons-admin">
              <button class="btn btn-primary">Rechercher</button>
                <button class="reset-filter"> <a href="{{ path('app_admin')}}"> Réinitialiser </a> </button>
            </div>
        {{ form_end(form) }}
    </div>

    <div class="users">
        {% for user in users %}
        {# On affiche seulement les pseudos des personnes n'ayant pas le rôle 'ROLE_ADMIN' #}
        {% if 'ROLE_ADMIN' not in user.roles %}
            <div class="user">
                <div class="user-info">
                    <a href="{{ path('user', {'id': user.id}) }}"> {{ user.pseudo }} </a>
                </div>
            {% if user.banned == false %}
                <div class="ban-btn">
                    <a href="{{ path('ban_admin', {'id': user.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir bannir cet utilisateur ?');">Bannir</a>
                </div>
            {% else %}
                <div class="unban-btn">
                    <a href="{{ path('unban_admin', {'id': user.id}) }}"  onclick="return confirm('Êtes-vous sûr de vouloir débannir cet utilisateur ?');">Débannir</a>
                </div>
            {% endif %}
        {% endif %}
                </div>
            
        {% else %}
            <p>Aucun utilisateur trouvé.</p>
        {% endfor %}
    </div>
   
</div>

{% endblock %}
