{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ categorie.nomCategorisation }}{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">{{ categorie.nomCategorisation }}</h1>
    <p class="d-flex justify-content-center">{{ categorie.specificite }}</p>
    
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="btn-filter-categorie">
            <button class="btn btn-primary">Rechercher</button>
            <button class="reset-filter">
                <a href="{{ path('app_categorie_show', { categorie: categorie.nomCategorisation }) }}">
                    Réinitialiser
                </a>
            </button>

        </div>
        
        {{ form_end(form) }}


    <div class="separator"></div>
    <div class="d-flex flex-row-wrap justify-content-center gap-40">
        {% for classe in classes %}
        <a href="{{ path('app_show_classe', {'nom': classe.nom}) }}" class="detail-classe-espece p-20">
            <div class="espece-column">
                <img src="{{ classe.image }}" alt="image-{{ classe.nom }}">
                <small>
                    <a href="{{ path('app_show_classe', {'nom': classe.nom}) }}" class="detail-classe-espece">{{ classe.nom }}</a>
                </small>
            </div>
        </a>
        {% else %}
            <li>Aucune classe pour cette catégorie.</li>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(classes) }}
    </div>
{% endblock %}