{% extends 'base.html.twig' %}

{% block title %}Ajouter une race{% endblock %}


{% block body %}
<div id="wrapper-race">
   {{ form_start(formRace) }}
       {{ form_widget(formRace) }}
       <button type="submit" class="btn btn-primary">Enregistrer</button>
   {{ form_end(formRace) }}

    <h1> Liste des races </h1>
    {% for race in races %}
        {{ race.nomRace }}
        <a href="{{ path('delete_race', {'id':race.id})}}">
            <i class="fa-solid fa-trash"></i>
        </a>
    {% endfor %}

</div>
{% endblock %}


  