{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

<div class="question-wrapper">
    {% for question in questions %}
        <div class="question-card">
            <h2>{{ question.titreQuestion }}</h2>
            <p>{{ question.description }}</p>
            <p>Posted by: {{ question.author.pseudo }} on {{ question.createdAt|date('Y-m-d H:i') }}</p>
            <a class="warning" href="{{ path('app_forum_question_show', {'id': question.id, 'nom_espece': nom_espece}) }}">View Details</a>        
        </div>
    {% endfor %}
</div>
{% endblock %}
