{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

<div class="commentaires-wrapper">
  {% for commentaire in commentaires %}
    <div class="commentaire">
      <p class="content">{{ commentaire.contenu }}</p>
      <p>Posted by: {{ commentaire.author.pseudo }} on {{ commentaire.createdAtComm|date('Y-m-d H:i') }}</p>
    </div>

      
  {% endfor %}
</div>

 {% if app.user %}
            {{ form_start(formComm) }}
            {{ form_rest(formComm) }}
            {{ form_end(formComm) }}
        {% else %}
            <p class="warning">Vous souhaitez contribuer au forum ? <small> <a href="{{ path('connexion') }}">Se connecter</a> </small></p>
            
        {% endif %}
    
{% endblock %}
